<h2 class="form-title">Edit booking</h2>
<div class="container-home">
<form action="/bookings/{{_id}}/edit" method="post">
    <div id="edit-form">
    <label for="bookingReference">Booking Reference</label>
    <input type="text" name="bookingReference" value={{bookingReference}}>
    <label for="control-label">From</label>
    <input type="text" class="autocomplete" name="departureAirport" value={{departureAirport}}>
    <label for="control-label">To</label>
    <input type="text" class="autocomplete" name="arrivalAirport" id="arrivalAirport" value={{arrivalAirport}}>
    <label for="latitude">Latitude</label>
    <input type="text" id="lat" value="" name="latitude">
    <label for="longitude">Longitude</label>
    <input type="text" id="lng" value="" name="longitude">
    <label for="departure-date">Departure Date</label>
    <input type="date" name="departureDate" value={{dateFormat departureDate}}>
    <label for="departure-time">Time</label>
    <input type="time" name="departureTime" value={{departureTime}}>
    <label for="arrival-date">Arrival Date</label>
    <input type="date" name="arrivalDate" value={{dateFormat arrivalDate}}>
    <label for="arrival-time">Time</label>
    <input type="time" name="arrivalTime" value={{arrivalTime}}>
    <label for="return-date">Return Date</label>
    <input type="date" name="returnDate" value={{dateFormat returnDate}}>
    <label for="return-time">Return Time</label>
    <input type="time" name="returnTime" value={{returnTime}}>
    <button type="submit">Save</button>
    </div>
</form>
</div>

<script src="https://maps.google.com/maps/api/js?sensor=false&key=AIzaSyBnZN7ShRgO5yTcfz4Wh_sz1mNMT7PXqko"></script>
<script>

    var geocoder = new google.maps.Geocoder();
    const input = document.getElementById('arrivalAirport')
    const address = input.value
    input.addEventListener('focusout', function () {
        geocoder.geocode({ address: input.value }, function (results, status) {
            console.log(status)
            if (status == google.maps.GeocoderStatus.OK) {
                var latitude = results[0].geometry.location.lat()
                var longitude = results[0].geometry.location.lng()
                console.log(latitude)
                console.log(longitude)
                document.getElementById('lat').value = latitude
                document.getElementById('lng').value = longitude
            }
        });
        console.log('success')
    })
</script>